

h1.jumbo {
    font-family: 'Wallpoet', cursive;
    font-size: 100px;
}

h1.new-post {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h3 {
    font-family: 'Wallpoet', cursive;
    font-size: 40px;
    color: #5371ff;
}

header.top {
    background-color:#5371ff;
}

header.post-header {
    background-color: #ababab;
}

li.nav-item {
    border-radius: 5px;
    margin: 5px;
    background-color: #5ce0e6;
}

a#logout:hover {
    cursor: pointer;

}

div.main-post {
    border: 1px solid black;
    border-radius: 5px;
}

div.user-post {
    background-color: #858585;
    border: 1px solid black;
    border-radius: 5px;
}

div.commentRen {
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
}